.header {
    width: 100%;
    height: 100px;
    background-color: #f1f1f1;
}
.logo_google {
    width: 20%;
    padding-top: 30px;
    padding-left: 30px;
}
.input {
    width: 650px;
    background-color: #f1f1f1;
    height: 60px;
    display: inline-block;
}
.input_box {
    margin-left: 250px;
    margin-top: -50;
    border: 1px
}
.form-group {
    padding-top: 16px;
    display: inline-flex;
}
.outer-containet {
    padding-top: 40px;
    margin-left: 186px;
    text-align: center;
    background-color: #f1f1f1;
}
.inner-container {
    width: 800px;
    text-align: initial;
    height: 400px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 70px;
}
.game_pic {
    padding-top: 30px;
    padding-left: 40px;
    border-radius: 25px;
    height: 200px;
    display: inline-block;
}
.info-box-top {
    height: 250px;
    width: 550px;
    padding-bottom: 59px;
    vertical-align: top;
    display: inline-block;
}
.info-container .badges {
    float: right;
}
.btn-primary {
    display: inline-flex;
    height: 33px;
}
img {
    vertical-align: middle;
}
.badge-title {
    color: #8d8d8d;
}
.badge {
    background-color: transparent;
}
.id-app-title {
    color: hsl(0, 0%, 13%);
    font-size: 30px;
    margin-left: 20px;
    font-family: 'Hind', sans-serif;
}
.document-title {
    margin-top: 0px;
}
.document-subtitle {
    float: right;
}
.navbar-brand {
    background-color: #689f38;
    padding: 0;
}
.navbar-inverse .navbar-brand {
    color: hsl(0, 0%, 100%);
}
.navbar-brand {
    text-decoration-color: white;
}
.info-container {
    margin-top: 30px;
}
.navbar-inverse {
    background-color: none;
}
.active {
    background-color: white;
    text-decoration-color: black;
}
.navbar-inverse {
    border-color: transparent;
    background-color: transparent;
}
.active {
    text-decoration-color: black;
    background-color: white;
}

/*Dropdown*/

.dropbtn {
    background-color: white;
    color: grey;
    font-family: 'Hind', sans-serif;
    border: none;
    padding: 15px 15px;
}
.dropbtn:hover,
.dropbtn:focus {
    background-color: #f1f1f1;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
.show {
    display: block;
}
.andriod_pic {
    display: inline-block;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAABnUlEQVR4Ae3UgUcDUQDH8U2pQCA0I1T/QUFBEKBAf0koUgZKKAkdIEgyGYAEICABNdq0YKsMQGzb1Pz64ph0eLfdXc+8Lx+Y87yf3ZYa0lwuSVMYjeKgczxjPsHLr6CJuygOe4DoNqHLj6EM0n0UB66q13oCA/bUazWqQwsgvWAsxsvPogVSIcqDZ9CAaDv4GS1iE1d4xDtavg88IY8tLCMdcMYNRA3MxPXVfmLa/yyDfbwqfG84xZx/1oZ67cbx9Y6jAtE1TtDU4H3jEjWIKhiP6x1dU/ytxfkPcaj4O4zj4ml4Si4P6aguP4ILJd8FRqIYcKT/62jQyy+hq999IYesL+d/Zp75OV0s9Xv5CZT0t1zAszmFz/ScEib6GXCs4LIBz2ZhXvhzjsNePoOORQM6yIQZcCA/C14h+e2HGVBDr+R/xEHVTC+/IHtbMBmwI3vbMRmQl73lTQYUZW9FkwF12VvdZEBb9tZO2Z5Lljf0A9wAN8ANcAPcADegKnurmgzwZG9nJgMmUZZ9lTGZItMRniWvUxVe8OVdLtcPysP4ogGZhg0AAAAASUVORK5CYII=);
    width: 30px;
    height: 30px;
    background-size: cover;
}
.navbar-brand {
    padding: 7px;
    margin: auto;
}
.navbar-brand {
    display: inline-block;
}
.menu_title {
    display: inline-block;
    vertical-align: super;
}
.navbar > .container-fluid .navbar-brand {
    margin-left: 0px;
}
.category:hover {
    background-color: #f1f1f1 !important;
    color: #808080 !important;
}
.name_of_author {
    display: inline-block;
}
.type_of_game {
    display: inline-block;
}
.name_of_author,
.type_of_game {
    color: #808080;
    font-weight: 500;
}
.left-info {
    width: 200px;
    padding-left: 23px;
}
.img_of_age {
    background-image: url(data:image/webp;base64,UklGRtQBAABXRUJQVlA4TMgBAAAvG8AGEJfjNpIkKcoIJFQ8xy2cQXzvptxwHEmSo9QJ4If/PmAQhmg1VY4DuG0b2CkzZf9VevLqVQBOQds2jMefxWD+gGD6KqCJQIZq/n9VaSFCmjAzpBWe20UaIBmHDNXM0PxlpFUJaQXF//cmAdKqhIrmrwCoMnKoUmRUATlIUCG05bdXKJlECAH+iiQEEICABECpAgIKkABACCAoAKAAAIAAoGYe8urZNtbTbDuvHder623n3Ur+8iXPr5H1U4/JftnGTx9Uf5NQA7ptbWecr09tc2rbdt+MbdvW/f/rl3zJzA1E9H8CGOsUK+LleqXUYYyxTu7rW/bn55v7ka8VeO/ElTwJgyVmJyL6y2a+lUmuZQAjO2Eior/fN2XReXA3HfT/XZH5EbJBScy+DcC3CuDeLOZaAUZTJwDOLWLGp4vLm+QBgFuzGBktjuvdMQA+SQUi9xKAoSsrqbMIADq/Gkaz7W5/HMCLScz4/PDwGjkFsGUXC04Ak8kbAOtOscAcMJM+A7DhEPMuANibBnBoFbMeQZb0YhSd4uncpILesTY+ODx7HCI1SHKF47GAlQRyn6rmeNWGqlXegMq8psp91m21VW11GQM=);
    width: 15px;
    height: 15px;
    background-size: cover;
    margin-left: 23px;
    display: inline-block;
}
.middle_info_age {
    width: 100px;
    height: 25px;
}
.age {
    display: inline-block;
    color: #808080;
    vertical-align: middle;
    font-weight: 800;
    padding-left: 12px;
}
.no_devices_img {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAs0lEQVR4Ae3VEQzDQBjF8TnVqU7DYWGeOc1pTnU6pzqdU53mkznV5e1dMnhZ0i/f7bsmhTb5S9Pcr01e0hOATTuAOsC6XtdLxzKb1p6JAiPDt0czQN5+EWBhXUtgYvgpRQA9/MywUt8CmA1gDgE84KYHyn1IQwR4O4BnNaCzNADt7gZ0lh5AZ1sDJAYHoI0uoEyP4c96G9BZ+r9AyyZQJscQAEqDBWSGYNkCUgMg7euPdgAfW8UYE7h5EC0AAAAASUVORK5CYII=);
    width: 20px;
    height: 20px;
    display: inline-block;
    background-size: cover;
    vertical-align: middle;
}
.compability_status {
    color: #808080;
    font-weight: 300;
    display: inline-block;
    padding-left: 13px;
}
.bottom_info {
    padding-left: 23px;
    padding-top: 15px;
}
.img_of_bookmark {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABUUlEQVR4AcXVgWbDUBTG8SQtbCFJazAoMAzsEfYKgwG2F9iT1PRJSp9he5V1G+hGs6Kmk334h09LbrLWevkpp+c7J71ajfzcPl65uAvP1qdpeBIMhDPBQCqF5AEFvcHh/hR3spCvNui99xk7x+7xRF6kknJr0ApeK+mdyykz4qYFhSwJjrauKoVfzYjeJbXggtyePK8DSBF7v32SPLyAAAqJkMkbMqsX1t91AQGuwupcHf1/XLCSFK+ylg3W1FKs/n/B8a/IAshkjozawRYkGCDBwRb0pScRetT2XjAUf+8cXhvus6CgdikT+cCEWucfmgdKuZGpfEslP6ioTekp/YFCCwayYMiG17XM5Bozat6zINtqwSehdxnLRR1ERG1MT0Wm1YIzeZaH+k6RSA+J1XN6n2TYtGDnK4i+DXRJU1/oPzkmEFvN+xp6g8OBwAnmfgGeOWkiemzlwAAAAABJRU5ErkJggg==);
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: cover;
    vertical-align: middle;
}
.navbar-inverse {}
.add_to_wishlist {
    color: #689f38;
    display: inline-block;
    font-family: 'Hind', sans-serif;
    font-size: 15px;
}
.btn-sucess {
    display: inline-block;
    vertical-align: middle;
    background-color: #689f38;
    color: white;
    width: 100px;
    height: 40px;
    font-weight: 600;
}
.navbar {
    margin-bottom: 0px;
}
.btn-sucess {
    display: inline-block;
}
.details_action_right {
    float: right;
}
.btn-sucess:hover {
    color: white;
    background-color: #87c154 !important;
}
.star {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAYAAAByDd+UAAABDklEQVR4AezTAQaDUBzH8WEMAzB2g9EBAjCDrhDdIAhBASMEwiDYLbpCAMS6xgYwY1b//fADz9pevQoMX1H/9z7UayEis/YHPxaG4XE2ENgOtWg3F5ghQdnkIJAVuiHhdTU16BET5k0NlgpYTgISs4ioWYNBLN5w4wNyUYBSdEZ1B1jzecp5l+sttPkFJkhGLPkKEg1GwgLtb8jX8hwCcZ3b69AQddC9D8Z5Z9ApJWqjqw7GOdvotyDqa4I+1xiDuSaYjwVWmmBlBBJboxcSpVa9x7m1KbhXNm3QCW15bZTne1MwRsIuyFZPMe8Li03BAj1QhJYdM0sUca4wBd9bDsQqRNYmKiD1w7+ZOGohAKGmcrcMK5iJAAAAAElFTkSuQmCC);
    background-size: cover;
    width: 15px;
    height: 15px;
    display: inline-block;
    float: right;
}
